@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;900&display=swap');

*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 14px;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

body {
  font-family: 'Lato', sans-serif;
  background-color: var(--backgroundColor);
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

.name {
  font-size: 25px;
  font-weight: bolder;
}

.gradient {
  background: -webkit-linear-gradient(bottom left, #02b3f5, #05a639 70%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu {
  border: none;
}

.dark {
  color: #f7f7f7 !important;
}

.light {
  color: #08070B;
}

.dark, .dark .menu {
  color: #f7f7f7;
  background-color: #08070B;
}

.light, .light .menu {
  color: #08070B;
  background-color: #e5e5e5;
}

.container {
  padding: 50px;
  position: relative;
}

.presentation {
  position: absolute;
  top: 30%;
  left: 30%;
}

.dark .insta, .light .git, .dark .linke, .light .source  {
  color: #f7f7f7;
}

.light .insta, .light .git, .light .linke, .light .source {
  color: #08070B;
}

.insta:hover {
  color: #e73170;
}

.git:hover {
  color: #868488;
}

.linke:hover {
  color: #0474b6;
}

.source:hover {
  color: #b4b2b2;
}
