*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 14px;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

body {
  font-family: "Fira Code";
  background-color: var(--backgroundColor);
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

html, body {
  height:100%;
  padding-bottom: 150rem;
  background-color: #08070B;
}

.name {
  font-size: 25px;
  font-weight: bolder;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
}

.menu {
  border: none;
}

.dark, .dark .menu {
  color: #f7f7f7;
  background-color: #08070B;
}

.light, .light .menu {
  background-color: #e5e5e5;
}

.container {
  padding: 50px;
  position: relative;
}

.content {
  position: absolute;
  top: 10%;
  left: 30%;
}

.presentation {
  position: absolute;
  top: 30%;
  left: 30%;
}

.dark .insta, .light .git, .dark .linke, .light .source  {
  color: #f7f7f7;
}

.light .insta, .light .git, .light .linke, .light .source {
  color: #08070B;
}

.insta:hover {
  color: #e73170;
}

.git:hover {
  color: #868488;
}

.linke:hover {
  color: #0474b6;
}

.source:hover {
  color: #b4b2b2;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}