@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;900&display=swap');

*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 14px;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

body {
  font-family: 'Lato', sans-serif;
  background-color: var(--backgroundColor);
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

.gradient {
  background: -webkit-linear-gradient(bottom left, #02b3f5, #05a639 70%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.name {
  font-size: 25px;
  font-weight: bolder;
}

.menu {
  border: none;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  padding: 0;
}
.img {
  margin: 0 20px 20px 0;
  border-radius: 10px;
}
.bio {
  display: flex;
}

.layout {
  min-height: 100vh !important;
}

@media (min-width: 600px)
{
  .description {
    display: flex;
  }
  .title {
    font-size: 80px !important;
  }
  .container {
    padding: 50px;
    position: relative;
  }
  .presentation {
    position: absolute;
    top: 30%;
    left: 25%;
  }
  .footer {
    font-size: 25px;
  }
  .paragraph {
    font-size: 20px !important;
  }
}

@media (max-width: 600px)
{
  .card {
    width: 90vw;
    height: 75vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center
  }

  .container {
    padding: 0 25px;
  }

  .menu {
    width: 100px;
    flex: 1;
  }
  .footerLayout {
    padding: 50px 0 0 0;
  }
  .footer {
    margin: 0;
    font-size: 25px;
  }
  .ant-layout-header {
    padding: 20px 30px;
  }
  .ant-col-offset-6 {
    margin-left: 0
  }
  .ant-col-12 {
    flex: 100%;
    max-width: 100%
  }
}

.button-theme, .button-theme:hover, .button-theme:focus {
  border: none !important;
  background: none !important;
}

.dark {
  color: #f7f7f7 !important;
}

.light {
  color: #08070B;
}

.line, .dark .line {
  border-bottom: #f7f7f7 solid;
}

.line, .light .line {
  border-bottom: #08070B solid;
}

.dark, .dark .menu {
  color: #f7f7f7 !important;
  background-color: #08070B !important;
}

.light, .light .menu {
  color: #08070B !important;
  background-color: #e5e5e5 !important;
}

.dark .insta, .light .git, .dark .linke, .light .source  {
  color: #f7f7f7;
}

.light .insta, .light .git, .light .linke, .light .source {
  color: #08070B;
}

.insta:hover {
  color: #e73170;
}

.git:hover {
  color: #868488;
}

.linke:hover {
  color: #0474b6;
}

.source:hover {
  color: #b4b2b2;
}
